 <section id="detailsPage">
            <div id="detailsInfo">
                <h1>Name: {{electronic.name}}</h1>
                <div class="info"><img src="{{electronic.image}}"></div>
 
                <div class="info">
                    <h3>Type: {{electronic.type}}</h3>
                    <h3>Year of Production: {{electronic.production}}</h3>
                    <h3>Years of Exploitation: {{electronic.exploitation}}</h3>
                    <h3>Damages: {{electronic.damages}}</h3>
                    <h3>Description: {{electronic.description}}</h3>
                    <h2>Price: ${{electronic.price}}</h2>
                </div>
 
                {{#if isAuthenticated}}
                <div class="buttons">
                    
                    <!--If user is not owner of the toy post-->
                    <a href="#" class="buy-btn">Buy</a>
 
                    {{#if isOwner}}
                    <a href="/{{electronic._id}}/edit" class="edit-btn">Edit</a>
                    <a href="/{{electronic._id}}/delete" class="delete-btn">Delete</a>
                    {{/if}}
                    <!--If user is not the owner and is bought this toy-->
                    <p><span class="buy">Thank You For Your Purchase</span></p>
                    
                    {{/if}}
                </div>
            </div>
        </section>